<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:backendroles="http://typo3.org/ns/AawTeam/BackendRoles/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Backend" />

<f:section name="content">
<f:asset.css identifier="backendroles_exportasrole">
.card-code {
    padding:1em;
    background-color:#292929;
}
</f:asset.css>
    <h1>Backend Role Export</h1>

    <p>These codes represent the role definitions for the backend group <b>{backendUserGroup.title}</b>:</p>

    <div class="card-container">
        <div class="card card-size-medium">
            <div class="card-header">
                <div class="card-header-body">
                    <h2 class="card-title">YAML</h2>
                    <span class="card-subtitle">The YAML representation of the role definition</span>
                </div>
            </div>
            <div class="card-body">
                <div class="card-code">
                    <code><pre>{yamlConfigAsString}</pre></code>
                </div>
            </div>
            <div class="card-footer">
                <f:link.action action="downloadRoleDefinition" arguments="{backendUserGroupUid:backendUserGroup.uid, fileFormat:'yaml'}" class="btn btn-primary">
                    Download as YAML file
                </f:link.action>
            </div>
        </div>
        <div class="card card-size-medium">
            <div class="card-header">
                <div class="card-header-body">
                    <h2 class="card-title">PHP</h2>
                    <span class="card-subtitle">The PHP representation of the role definition</span>
                </div>
            </div>
            <div class="card-body">
                <div class="card-code">
                    <code><pre>{phpConfigAsString}</pre></code>
                </div>
            </div>
            <div class="card-footer">
                <f:link.action action="downloadRoleDefinition" arguments="{backendUserGroupUid:backendUserGroup.uid, fileFormat:'php'}" class="btn btn-primary">
                    Download as PHP file
                </f:link.action>
            </div>
        </div>
    </div>

</f:section>

<f:section name="docheader-left">
    <f:link.action class="btn btn-default btn-sm"><core:icon identifier="actions-close" /> Close</f:link.action>
</f:section>

</html>
