<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:backendroles="http://typo3.org/ns/AawTeam/BackendRoles/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Backend" />

<f:section name="content">
    <f:be.pageRenderer includeRequireJsModules="{0:'TYPO3/CMS/Backend/Modal'}" />

    <h1>Backend Roles Management</h1>

    <f:if condition="{backendUserGroups}">
        <f:then>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-icon">#</th>
                        <th class="col-title nowrap">Title</th>
                        <th class="nowrap">Managed Role</th>
                        <th class="col-control"></th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{backendUserGroups}" as="backendUserGroup">
                        <tr>
                            <td class="col-icon"><core:iconForRecord row="{backendUserGroup}" table="be_groups" /></td>
                            <td class="col-title nowrap">
                                <be:link.editRecord uid="{backendUserGroup.uid}" table="be_groups">{backendUserGroup.title}</be:link.editRecord>
                            </td>
                            <td class="nowrap"><backendroles:format.roleTitle backendUserGroup="{backendUserGroup}" /></td>
                            <td class="col-control">
                                <be:link.editRecord uid="{backendUserGroup.uid}" table="be_groups" class="btn btn-sm btn-default">
                                    <core:icon identifier="actions-open" />
                                </be:link.editRecord>
                                <f:if condition="!{backendUserGroup.tx_backendroles_role_identifier}">
                                    <f:link.action action="exportAsRole" arguments="{backendUserGroupUid:backendUserGroup.uid}" class="btn btn-default btn-sm">
                                        Export
                                    </f:link.action>
                                </f:if>
                                <f:link.action action="resetBackendUserGroupToDefaults" arguments="{backendUserGroupUid:backendUserGroup.uid}" class="btn btn-sm btn-warning t3js-modal-trigger" data="{title:'BackendUserGroup reset', severity:'warning', content:'Do you really want to reset the management-related fields of BackendUserGroup \"{backendUserGroup.title}\"? This cannot be undone.'}">
                                    Reset
                                </f:link.action>
                            </td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
            <div>
                <f:link.action action="synchronizeAllBackendUserGroupRoles" class="btn btn-default">Synchronize Roles</f:link.action>
            </div>
        </f:then>
        <f:else>
            <p>No be_groups records found!</p>
        </f:else>
    </f:if>

    <h2>System Information</h2>

    <div class="panel-group" id="roleDefinitionsFileNamesAccordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" id="simple-heading-panel1">
                    <a href="#" class="collapsed" data-bs-toggle="collapse" data-bs-target="#simple-panel1" aria-expanded="false" aria-controls="simple-panel1">
                        <span class="caret"></span>
                        <core:icon identifier="actions-info-circle" size="small" />
                        <strong>Role Definitions</strong>
                    </a>
                </h3>
            </div>
            <div id="simple-panel1" class="collapse" aria-labelledby="simple-heading-panel1">
                <div class="panel-body">
                    <f:if condition="1">
                        <f:then>
                            <f:be.infobox state="-1" disableIcon="true">This is the list of all role definitions that are currently available for use.</f:be.infobox>
                            <ul>
                                <f:for each="{roleDefinitions}" as="roleDefinition">
                                    <li>{roleDefinition.title} [<code>{roleDefinition.identifier}</code>]</li>
                                </f:for>
                            </ul>
                        </f:then>
                        <f:else>
                            <f:be.infobox state="1" disableIcon="true">No role definitions are currently available for use.</f:be.infobox>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" id="simple-heading-panel2">
                    <a href="#" class="collapsed" data-bs-toggle="collapse" data-bs-target="#simple-panel2" aria-expanded="false" aria-controls="simple-panel2">
                        <span class="caret"></span>
                        <core:icon identifier="actions-info-circle" size="small" />
                        <strong>Role Definition filenames</strong>
                    </a>
                </h3>
            </div>
            <div id="simple-panel2" class="collapse" aria-labelledby="simple-heading-panel2">
                <div class="panel-body">
                    <f:if condition="{roleDefinitionFileNames -> f:count()} > 0">
                        <f:then>
                            <f:be.infobox state="-1" disableIcon="true">This is the list of all files with role definitions that are currently in use.</f:be.infobox>
                            <ul>
                                <f:for each="{roleDefinitionFileNames}" as="roleDefinitionFileName">
                                    <li><code>{roleDefinitionFileName}</code></li>
                                </f:for>
                            </ul>
                        </f:then>
                        <f:else>
                            <f:be.infobox state="1" disableIcon="true">No role definition files are currently in use.</f:be.infobox>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
    </div>

</f:section>

</html>
